body {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.container {
    width: 75%;
    height: 95vh;
}

/*===== contenedor main*/

.container-form {
    width: 80%;
}

/*===== contenedor aside*/

.container-aside {
    margin: 0 auto;
    height: 95vh;
}

.container-aside div{
    width: 336px;
    height: 304px;
    background-image: url('../img/Muñeco.svg');
}