body {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.container {
    width: 70%;
    height: 95vh;
}

/*===== contenedor main*/

.container-form {
    width: 80%;
}

/*===== contenedor aside*/

aside {
    width: 28%; 
}

.container-aside {
    margin: 0 auto;
    width: 95%;
}

.container-aside__message {
    margin: 0 auto;
    width: 95%;
    height: 95vh;
}

.container-aside__message div {
    width: 336px;
    height: 304px;
    background-image: url('../img/Muñeco.svg');
}

/*agregando con js*/

.container-aside__button {
    margin: 0 auto;
    width: 95%;
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.message {
    /*width: 408px;*/
    height: auto;
}

.copy {
    width: 70%;
}