/*===== contenedor main*/

/*textarea*/
.container-form__textarea {
    height: 375px;
}

.container-form__textarea textarea {
    height: 372px;
    width: 96%;
    padding-left: 20px;
}

.container__icons {
    width: 4%;
}

/*===== contenedor main*/

/*botones*/

.container-form__buttons {
    flex-direction: row;
    justify-content: space-between;
}

.container-form__buttons input {
    width: 48%;
}

.container-form__buttons input:last-child {
    margin-top: 0;
}


/*===== contenedor aside*/

/*agregando con js*/

.copy {
    width: 30%;
}