/*===== nav tabs*/
.tabs__ul {
  display: flex;
  justify-content: space-evenly;
}

.tabs__list {
  flex-grow: 1;
}

/*===== contenedor main*/
.main__container {
  margin-top: 20px;
}

.form__textarea {
  height: 300px;
}

/* botones */
.form__buttons {
  display: flex;
  justify-content: space-evenly;
}

.form__buttons input {
  width: 40%;
}

.form__buttons input:last-child {
  margin-top: 0;
}
